* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  background-color: #20bee5;
  color: #595a70;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

.case-study-bg {
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: 80%;
}

#container-bg {
  background-color: #fff;
}

nav {
  display: none;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  width: auto;
  /* or remove width property */
  margin: 0 auto;
  /* center if needed */
  display: inline;
  /* shrink-wrap to content */
  /* border-bottom: 1px solid #fff; */
  /* your border */
  padding: 1.5em;
  /* optional, for spacing */
  box-sizing: border-box;
  text-align: center;
}

nav ul li a {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #20bee5;
  /* accent color */
  text-shadow: 0 0 5px #313131;
  text-decoration: underline;
}

nav a:hover {
  color: #ccc;
  /* color: rgb(250, 122, 3); */
}

.url-wrapper {
  margin-top: 10px;
}

.title a {
  font-family: "Georgia", serif;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  width: 176px;
  margin: 0 auto;
  text-decoration: none;
}

.title a:hover {
  color: #20bee5;
  /* color: rgb(251, 162, 79); */
}

.title {
  width: 176px;
  margin: 0 auto;
  text-decoration: none;
}

.title h1 {
  margin: 0 auto;
  font-family: "Bitter", serif;
  font-size: 4rem;
  color: #20bee5;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.line {
  display: none;
}

.brandmark {
  display: flex;
  align-items: center; /* vertically center */
  gap: 1rem; /* optional spacing between logo and text */
  width: fit-content; /* or remove width to let it shrink-wrap */
  margin-left: 3%;
  padding-top: 5%;
}

.brandmark .logo {
  width: 50px; /* adjust as needed */
}

.brandmark .logo img {
  width: 100%;
  height: auto;
}

.brandmark .title {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: #fff solid 1px;
  clip-path: polygon(0% 0%, 0% 85%, 50% 100%, 100% 85%, 100% 0%);
  background-size: 0px 4000px;
  /* overflow: hidden; */
  /* background-color: #474767; */
  /* background-image: url("../images/image19.jpg"); */
  background-image: url("../images/image6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* Create a parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #343449;
}

.head {
  background-color: #343449;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 3%;
}

.header-stripe {
  background-color: #20bee5;
  height: 10px;
}

.spin-head {
  background-color: #20bee5;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.welcome {
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 5.5rem;
  font-weight: 400;
  text-align: center;
  padding-top: 13%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: animate 1.7s linear forwards;
  text-shadow: 0 1px 4px rgba(57, 57, 57, 0.5);
}
/* 
.tag p {
  font-family: "Merriweather", serif;
} */

.white-bg {
  background-color: #fff;
}

@keyframes animate {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

.connect {
  width: 166px;
  margin: 0 auto;
  padding-bottom: 80%;
  padding-top: 4%;
}

.connect3 {
  width: 180px;
  margin: 0 auto;
  padding-bottom: 30%;
  padding-top: 5%;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.view-logo-link {
  padding-bottom: 1%;
}
.connect3 a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  padding: 7%;
  border: 2px solid #fff;
}

.connect3 a:hover {
  background-color: #20bee5;
  color: #fff;
  border: none;
}

#about {
  background-color: #20bee5;
}

.located {
  font-family: "Crete Round", serif;
  font-size: 3.5rem;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 20%;
}

.massachusetts img {
  width: 100%;
  height: auto;
}

.massachusetts {
  width: 30%;
  margin: 0 auto;
  padding-top: 10%;
}

.lotus img {
  width: 100%;
  height: auto;
}

.lotus {
  width: 150px;
  margin: 0 auto;
  padding-top: 10%;
}

.philosophy {
  font-family: "Crete Round", serif;
  font-size: 3.5rem;
  color: #20bee5;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 20%;
}

.lobster {
  font-family: "Lobster", cursive;
}

#services {
  background-color: #20bee5;
}

.view-w a {
  text-decoration: none;
  color: #9464c5;
}

.lightning {
  display: none;
}

.apply {
  padding-top: 30%;
  margin-left: -40px;
  width: 275px;
}

.apply p {
  color: #20bee5;
  background-color: #fff;
  font-family: "Lobster", serif;
  font-size: 3rem;
  width: 550px;
  padding: 5% 5% 5% 5%;
}

.list {
  list-style-type: none;
  padding-bottom: 30%;
  padding-left: 0;
  width: 675px;
  margin: 0 auto;
}

.list li {
  font-family: "Crete Round", cursive;
  font-size: 2.5rem !important;
  color: #ffffff;
  line-height: 2;
}

ul {
  width: auto;
}

.yellow {
  color: #ebf94e;
}

.img-desktop {
  display: block;
}

.content {
  padding-top: 20%;
  padding-bottom: 20%;
}

.content a:link,
a:visited {
  color: #20bee5;
}

.content2 {
  padding-top: 20%;
  padding-bottom: 20%;
}

.img-mobile {
  width: 100%;
}

.img-mobile img {
  width: 100%;
}

.image1 {
  background-image: url("../images/discover-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.image2 {
  background-image: url("../images/define-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.image3 {
  background-image: url("../images/design-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.case-study {
  width: 67%;
  /* Adjust the width as needed */
  margin: auto;
  border-collapse: collapse;
  /* Remove space between cells */
  table-layout: fixed;
}

.case-study a {
  text-decoration: none;
  font-family: sans-serif;
  color: #9464c5;
  font-size: 1.1rem;
}

.case-study a:hover {
  text-decoration: none;
  font-family: sans-serif;
  color: #c79bf3;
  font-size: 1.1rem;
}

.case-study h2 {
  font-size: 2rem;
  color: #20bee5;
  font-weight: 700;
  margin-bottom: 1rem;
}

.case-study h3 {
  font-size: 2rem;
  color: #595a70;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.table-container {
  padding-bottom: 10%;
  /* Add padding to the bottom */
}

/*Image Gallery*/

/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --active-color: hsl(204 100 53);
  --bg-color: #e1e3e5;
  --icon-default: hsl(203 5 75);
  --icon-accent: hsl(203 15 98);
  --navigation-color: hsl(203 5 25 / 0.3);
}

.center-slider {
  min-block-size: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider {
  display: flex;
  flex-flow: column;
  width: clamp(510px, 96vw, 980px);
  aspect-ratio: 16 / 9;
  min-height: 300px;
  overflow: hidden;
  border-radius: 8px;
  container-type: inline-size;
  contain: content;
  background-color: #0006;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 16px,
    rgba(0, 0, 0, 0.15) 0px 16px 32px;
}

.slider__content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.slider-control--button {
  border: 0;
  background: 0;
  outline: 0;
  cursor: pointer;
  place-content: center;
  padding-inline: 3vw;
  z-index: 1;
  display: grid;
}

.icon {
  height: 2rem;
  width: 2rem;
  fill: var(--icon-default);
  border-radius: 50%;
}

.slider-control--button:where(:hover) {
  background-image: linear-gradient(
    to var(--position),
    #0000 0%,
    #0002,
    80%,
    #0006 100%
  );

  .icon {
    fill: var(--icon-accent);
    background: #0001;
  }
}

.slider-control--button:active {
  outline: 0.2em solid hsl(204 100 53);
  outline-offset: -0.5em;
}

.prev-button {
  --position: left;
}

.next-button {
  --position: right;
}

.image-display {
  position: fixed;
  inset: 0;
}

.slider-navigation {
  z-index: 10;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-columns: 100%;
  gap: 1.25rem;
  padding: 1rem;
  place-content: center;
  background-color: var(--navigation-color);
  backdrop-filter: blur(6px);
}

.nav-button {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border: 0;
  aspect-ratio: 16 / 9;
  transition: filter 150ms linear, scale 266ms ease;
}

.thumbnail {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.nav-button[aria-selected="true"] {
  scale: 1.1;
}

.nav-button[aria-selected="true"],
.nav-button:focus-visible {
  outline: 0.2em solid var(--active-color);
  outline-offset: 0.2em;
}

.nav-button[aria-selected="false"] {
  filter: opacity(0.7);
}

.nav-button[aria-selected="false"]:where(:hover, :focus-visible) {
  filter: opacity(1);
}

@container (max-width: 660px) {
  .nav-button:not(:has(img)) {
    background-color: rgb(241, 235, 232);
  }

  .slider-navigation {
    display: flex;
    justify-content: center;
    padding-block: 1.5em;
  }

  .nav-button {
    inline-size: 0.625rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .nav-button > .thumbnail {
    display: none;
  }

  .nav-button[aria-selected="true"] {
    background-color: black;
    scale: 1.5;
  }
}

.case-study th,
.case-study td {
  /* border: 1px solid black; */
  /* Add border to cells */
  padding: 8px;
  /* Add padding to cells */
  text-align: left;
  /* Left-align text */
  vertical-align: top;
  word-wrap: break-word;
  /* Wrap text */
  white-space: normal;
  /* Ensure normal white-space handling */
  /* border: 2px double #4CAF50; */
  padding: 8px;
}

hr {
  border: 1px solid #effd5f;
}

h1 {
  font-family: "Lobster", serif;
  font-size: 2.4rem;
  color: #20bee5;
  margin-bottom: 0;
}

h2 {
  font-family: "Biryani", sans-serif;
  font-size: 2rem;
  color: #20bee5;
  font-weight: bold;
  margin-top: 0;
}

.content h2 {
  font-family: "Georgia", serif;
  font-size: 1.8rem;
  color: #595a70;
  line-height: 1.5;
  font-weight: lighter;
}

.content2 h2 {
  font-family: "Georgia", serif;
  font-size: 1.8rem;
  color: #595a70;
  line-height: 1.5;
  font-weight: lighter;
}

h3 {
  font-family: "Georgia", serif;
  font-size: 1.7rem;
  color: #595a70;
  font-weight: normal;
}

.responsive {
  font-weight: bold;
}

.connect2 {
  width: 228px;
  padding-bottom: 20%;
  padding-top: 10%;
}
.connect2 a {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  color: #20bee5;
  background-color: white;
  font-size: 1.5rem;
  padding: 5%;
  border-radius: 1px;
  border: 2px solid #20bee5;
}

.connect2 a:hover {
  color: #fff;
  background-color: #20bee5;
  border: none;
}

/* footer {
  background-color: #20BEE5;
  color: #20BEE5;
} */

.pg-footer {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #343449;
  color: #fff;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

/*Contact Form*/

.screen {
  position: relative;
  background: transparent;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #9464c5;
  font-size: 2rem;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #9464c5;
}

.app-contact {
  margin-top: auto;
  font-size: 1.5rem;
  color: #a8a8a8;
}

.social-icons {
  width: 100px;
  /* Adjust the width as needed */
  border-collapse: collapse;
  /* Remove space between table cells */
  margin: 200px 0 0 0;
  /* Center the table */
}

.social-icons th,
.social-icons td {
  padding: 10px 5px;
  /* Adjust the padding to make cells closer together */
  /* border: 1px solid #fff; */
  /* Add a white border to the cells */
  text-align: left;
  /* Align text to the left */
}

.social-icons th {
  background-color: #f4f4f4;
  /* Add a background color to the header cells */
  font-weight: bold;
  /* Make the header text bold */
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #a8a8a8;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #9464c5;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #fff;
}
/* 
.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
} */

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.Georgia-regular {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-style: normal;
}

.resume {
  width: 600px;
  /* or any width less than 100% */
  margin: 0 auto;
}

.resume h2 {
  font-family: "Bitter", serif;
  font-size: 4rem;
  color: #20bee5;
}

li p {
  text-align: left;
}

section h3 {
  text-align: left;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-left:last-child:not(:first-child) {
  float: right;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-center {
  text-align: left;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  display: table;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-center:last-child:not(:first-child) {
  float: right;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-center
  .baseline {
  display: table-cell;
  vertical-align: bottom;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-center
  .input-group {
  padding: 0.5rem 0 0 0;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-center
  .input-group
  input {
  border-bottom: 2px solid #cacaca;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-center
  .input-group
  textarea {
  border-bottom: 2px solid #cacaca;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-right {
  text-align: right;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  display: table;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-right
  .baseline {
  display: table-cell;
  vertical-align: bottom;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-right
  h2 {
  color: #fefefe;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-right
  p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-right
  .fa {
  padding: 1rem 0 1rem 0.2rem;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-right:last-child:not(:first-child) {
  float: right;
}

.logo2 {
  width: 125px;
  margin: 0 auto;
  padding-top: 10%;
}

.logo2 img {
  width: 100%;
  height: auto;
}

.title2 {
  font-family: "Crete Round", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.tag2 {
  font-family: "Amiko", sans-serif;
  color: #fff;
  text-align: center;
  padding-bottom: 5%;
  margin: 0 auto;
}

table {
  padding-top: 20%;
  padding-bottom: 20%;
}

th,
td {
  height: 50px;
  border-collapse: collapse;
  width: 100%;
}

.social {
  width: 100%;
  margin: 0 auto;
}

.bio-photo img {
  width: 100%;
  height: auto;
}
.about-bg-color {
  background-color: #20bee5;
}

.spinden {
  img {
    width: 100%;
    height: auto;
  }

  padding-top: 3%;
  padding-bottom: 3%;
}

.spin-top {
  font-family: "Times New Roman", serif;
  font-size: 8rem;
  color: #20bee5;
  padding-top: 5%;
}

.conclusion {
  padding-bottom: 5%;
}

.media-styles {
  color: #fff;
  font-family: "Amiko", sans-serif;
  font-size: 2.5rem;
}

.media-styles a {
  text-decoration: none;
  color: #fff;
}

.media-styles a:hover {
  color: #fff;
}

.icons img {
  width: 100%;
  margin: 0 auto;
}

.icons {
  width: 5%;
  margin: 0 auto;
}

.rights {
  color: #fff;
  font-family: "Amiko", sans-serif;
  font-size: 1.2rem;
  padding-top: 5%;
  padding-bottom: 2%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1.3rem;
  font-weight: 300;
}

.image1 {
  background-image: url("../images/discover-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image2 {
  background-image: url("../images/define-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image3 {
  background-image: url("../images/design-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* =============================
   MEDIA QUERIES
   ============================= */

/* Base Styles for footer-content */
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  position: relative;
}

/* Smartphones and small screens */
@media (max-width: 800px) {
  .footer-content {
    padding: 40px 15px 1050px;
  }
}

/* Medium screens */
@media (min-width: 760px) {
  .footer-content {
    padding: 40px 15px 450px;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

/* Aboutme styles on small screens */
@media (max-width: 600px) {
  .aboutme,
  .aboutme h1,
  .aboutme h2,
  .aboutme p,
  .aboutme a {
    color: #fff !important;
  }
}

/* Flex layout for screen-body */
@media (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }

  header {
    height: 50vh;
    background-size: contain; /* fit whole image */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: #000;         fill empty space */
    background-image: url("../images/image6.jpg");
  }

  .welcome {
    font-size: 3rem;
    padding-bottom: 5%;
  }

  .footer-copyright {
    background-color: #20bee5;
    color: #fff;
    padding: 1%;
    text-align: center;
  }

  .footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  .footer-copyright-text,
  .footer-copyright-link {
    color: #fff;
  }

  .footer-copyright-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
  }

  .footer-copyright-link {
    text-decoration: none;
  }
}

/* Three-column footer layout */
.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-center,
.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-right:last-child:not(:first-child),
.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-left:last-child:not(:first-child) {
  float: right;
}

.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-center,
.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-left,
.three-column-footer-contact-form-container
  .three-column-footer-contact-form
  .footer-right {
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

@media screen and (min-width: 40em) {
  .three-column-footer-contact-form-container
    .three-column-footer-contact-form
    .footer-left,
  .three-column-footer-contact-form-container
    .three-column-footer-contact-form
    .footer-center,
  .three-column-footer-contact-form-container
    .three-column-footer-contact-form
    .footer-right {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@media screen and (min-width: 64em) {
  .three-column-footer-contact-form-container
    .three-column-footer-contact-form
    .footer-left,
  .three-column-footer-contact-form-container
    .three-column-footer-contact-form
    .footer-right {
    width: 25%;
  }

  .three-column-footer-contact-form-container
    .three-column-footer-contact-form
    .footer-center {
    width: 33.33333%;
    position: relative;
    left: 8.33333%;
  }
}

/* Navigation and branding styles */
@media screen and (min-width: 768px) {
  .container {
    width: 70rem;
  }

  .top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: inline-block;
    float: right;
    padding-top: 3%;
    width: 300px;
  }

  nav li {
    display: inline;
    padding: 1%;
  }

  nav a,
  .slash {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .logo {
    width: 90px;
  }

  .title {
    font-family: "Crete Round", sans-serif;
    font-size: 3.4rem;
    font-weight: 300;
    color: #fff;
    padding-left: 5%;
  }

  .tag,
  .philosophy {
    font-family: "Crete Round", serif;
    color: #20bee5;
    padding-bottom: 20%;
  }

  .tag {
    font-size: 3rem;
    text-align: center;
    padding-top: 20%;
  }

  .philosophy {
    font-size: 3.5rem;
  }

  .connect,
  .apply {
    margin: 0 auto;
    width: 375px;
  }

  .apply {
    padding-top: 15%;
    margin-left: -40px;
  }

  .apply p {
    font-family: "Lobster", serif;
    font-size: 3rem;
    /* background-color: #fff; */
    color: #fff;
    padding: 3%;
  }

  .process,
  .marketing,
  .services {
    display: flex;
  }

  .process {
    flex-direction: column;
    padding-top: 10%;
    padding-left: 10%;
    width: 100%;
  }

  .marketing,
  .services {
    flex-direction: row;
    padding-bottom: 10%;
  }

  .lightning {
    display: inline-block;
    margin-left: -100px;
  }

  .lightning img {
    width: 150%;
    height: auto;
  }

  .project-container h2 {
    font-family: serif;
    font-size: 1.7rem;
    font-weight: lighter;
    color: #626262;
    line-height: 1.5;
  }

  .project-container a {
    text-decoration: none;
    color: #8320e5;
    font-size: 0.95rem;
  }

  .projects-bg {
    background-image: url("../images/portfolio-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .featured-projects {
    background-color: #fffefe;
    padding: 10%;
    margin: 0 auto;
    border-radius: 8px;
    border: 5px double #effd5f;
    width: 450px;
  }

  .featured-projects p {
    font-family: "Crete Round", serif;
    font-size: 2rem;
  }

  .img-mobile {
    display: none;
  }

  .content {
    padding-left: 40%;
  }

  .content2 {
    padding-right: 40%;
  }

  .con-bg {
    width: 400px;
    background-color: #fff;
    padding: 10%;
    margin: 0 auto;
  }

  .aboutme {
    background-image: url("../images/image14.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  form {
    width: 80%;
    margin: 0 auto;
  }

  .rights {
    padding-left: 10%;
  }

  td {
    padding-bottom: 3%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 98rem;
  }

  nav {
    width: 350px;
  }

  .tag {
    font-size: 6rem;
    margin-top: -10%;
  }

  .philosophy {
    font-size: 5rem;
  }

  .content {
    padding-left: 60%;
  }

  .content2 {
    padding-right: 60%;
  }

  .rights {
    padding-left: 17%;
  }
}

/* Utility Layout */
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link,
.menu__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  opacity: 0.75;
  font-weight: 300;
  text-decoration: none;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1.3rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .image1,
  .image2,
  .image3 {
    background-image: none !important;
    background-color: #20bee5; /* or your preferred solid color */
    background-attachment: scroll;
  }

  .content h2 {
    font-family: "Georgia", serif;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.5;
    font-weight: lighter;
  }
  
  .content2 h2 {
    font-family: "Georgia", serif;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.5;
    font-weight: lighter;
  }

  h1 {
    font-family: "Lobster", serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
  }

  .project-container a {
    text-decoration: none;
    color: #8320e5;
    font-size: 1rem;
  }

  .featured-projects p {
    font-family: "Crete Round", serif;
    color: #fff;
    font-size: 2rem;
  }

  .connect2 {
    width: 228px;
    padding-bottom: 20%;
    padding-top: 10%;
    background-color: #20bee5;
  }
  .connect2 a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    color: #fff;
    /* background-color: white; */
    font-size: 1.5rem;
    padding: 5%;
    border-radius: 1px;
    /* border: 2px solid #20bee5; */
  }
  
  .connect2 a:hover {
    /* color: #fff; */
    /* background-color: #20bee5; */
    border: none;
  }


  .apply p {
    font-family: "Lobster", serif;
    font-size: 3rem;
    background-color: #20bee5;
    color: #fff;
    padding: 3%;
  }
  
}
